# Ignoriere temporäre Dateien
*.log
*.tmp
*.DS_Store
site

# Ignoriere virtuelle Umgebungen und Build-Verzeichnisse
env/
__pycache__/
build/
dist/

# Ignoriere sensible Konfigurationsdateien
config.yaml
.secret-key